@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline-block;
  margin: 0px 10px;
  padding: 10px 20px;
}
.list-inline li:active {
  background-color: #B2E5FC;
}

header {
  text-align: center;
  padding-top: 30px;
}

main {
  background-image: url("../img/fondo-pag-speciali.jpg");
  background-size: contain;
  padding-top: 70px;
}

.container80 {
  margin: 0 auto;
  width: 80%;
}

.items {
  display: flex;
  flex-wrap: wrap;
}
.items .card {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}
.items .card img {
  max-width: 100%;
}

.footer-top section {
  display: inline-block;
  width: calc(100% / 3 - 10px);
}
