.footer-top {
  .container80 {
    section {
      float: left;
      width: calc(100% / 3);
      padding-top: 40px;
      color: $footerColor;
    }
    h4 {
      font-size: 25px;
      margin-left: 55px;
      margin-bottom: 30px;
    }
    ul {
      margin-left: 50px;
      margin-bottom: 40px;
        li {
          list-style: none;
          padding: 5px;
        }
    }
    a {
      color: $footerColor;
      font-size: 20px;
    }
  }
}

.footer-bottom {
  img {
    max-width: 100%;
  }
}
