main {
  background-image: url('../img/fondo-pag-speciali.jpg');
  background-size: contain;
  padding-top: 70px;
}

.container80 {
  margin: 0 auto;
  width: 80%;  
}

.items {
  display: flex;
  flex-wrap: wrap;

    .card {
      width: calc(100% / 3 - 10px);
      margin: 5px;
        img {
          max-width: 100%;
        }
    }
}
